.contact-us{
    position: relative;
    height: 1128px;
    background: url(../images/contact.jpg);
    background-size: cover;
    background-position: center;
    color: #fff ;
}

.contactoverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.contact-text, 
.forms {
    position: relative;
    z-index: 1;
    color: #fff;
}

.contact-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.social-media .custom-icon {
    color: #C82424 ;
    width: 16px;
    height: 16px;

}

.social-media .icon-container {
    border: none ;
    background-color: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
     
}

.contact-text h2, 
.forms h2 {
    font-size: 18px;
    font-weight: 400;
}

.contact-text p{
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    text-align: justify;
}


.phone-no h3, 
.social-media h3{
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 10px;
}

.phone-no p {
    font-size: 18px;
    font-style: normal;
    padding-top: 20px;
    margin-bottom: 20px;
}

.phone-no .about-title {
    border-bottom: 3px solid #C82424;
    width: 55.142px;
}

/* contact forms */

.forms {
    padding: 20px;
}

.forms h2{
    padding-bottom: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.input-container {
    margin-bottom: 20px;
    display: -ms-flexbox; 
    display: flex;
}

.input-field {
    padding: 20px;
    width: 100%;
    height: 55px;
    background-color: #D9D9D9;
    border: none;
}

.text-field{
    padding: 20px;
    width: 100%;
    height: 202px;
    background-color: #D9D9D9;
    border: none;
}


.form-icons {
    width: 24px;
    height: 24px;
    color: white;
    justify-content: center;
    
}

.icon-cont{
    width: 50px;
    height: 55px;
    padding: 10px;
    background-color: #3F596C;
    
}


input::placeholder,
textarea::placeholder {
    color: #2D2D2D;
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 400;
}

.submit .btn {
    border: none;
    color: #FFF;
    background-color: #C82424;
    border-radius: 5px;
    padding:15px;
    margin-top: 20px;
}

.btn:hover{
    border: none;
    color: #C82424 ;
    background-color: #fff ;
    border-radius: 5px;
    padding:15px;
    margin-top: 20px;

}


@media (min-width:601px)
 {
    .contact-us {
        height: 1035px;
    }
    .contact-text h2 {
        text-align: center;
        font-size: 30px;
    }
    .contact-text p:first-child {
        padding: 40px;
    }
    .firstrow {
        display: flex;
        gap: 20px;
    }
    .phone-no p{
        font-size: 25px;
    }
    .secondrow {
        display: flex;
        gap: 20px;
    }

    .firstrow .first ,
    .secondrow .first{
        justify-content: flex-start;
        width: 90%;
    }

    .firstrow .second ,
    .secondrow .second{
        justify-content: flex-end;
        width: 90%;
    }

}

@media (min-width:1024px) {
    .contact-us {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 50px;
        height: 727px;
    }

    .forms {
        grid-column: 2 / span 3;
    }

    .contact-text h2 {
        text-align: left;
        font-size: 30px;
    }

    .twocols {
        display: flex;
        justify-content: space-between;
    }
}